body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

h1 img {
  margin-right: 10px;
}

h1 section {
  display: flex;
  flex-direction: column;
}

h1 section small {
  font-size: 12px;
  color: #999;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #a8a8a8;
  border: none;
  outline: none;
}

.tab-button.active {
  background-color: #464646;
}

.tab-content {
  display: none;
}

.tab-content:not(.hidden) {
  display: block;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3f3f3f;
}

button#fetchButton{
  display: none;
}

button#clearButton {
  background-color: #f44336;
  display: none;
}

button#clearButton:hover {
  background-color: #d32f2f;
}

button#clearWordsButton {
  background-color: #f44336;
}

button#clearWordsButton:hover {
  background-color: #d32f2f;
}

button#copyButton {
  background-color: #008CBA;
}

button#copyButton:hover {
  background-color: #007bb5;
}

#ignoredListContainer {
  position: relative;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

#ignoredList {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#ignoredWordsListContainer {
  position: relative;
  max-height: 200px;
  overflow-y: auto;
  margin: 20px 0px;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #fff;
}

#ignoredWordsList {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.copy-icon {
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  color: #008CBA;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#ignoredListContainer:hover .copy-icon {
  opacity: 1;
}

.ignored-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ignored-word {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  font-weight: 600;
}

.ignored-word:hover {
  background-color: #666;
}

.ignored-word:nth-child(odd) {
  background-color: #ffffff; 
}

.ignored-word:nth-child(even) {
  background-color: #f0f0f0c0; 
}

.ignored-word span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.ignored-word button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  margin: 0px;
}

.hidden {
  display: none;
}

#emptyMessage, #wordsEmptyMessage {
  margin: 20px 0px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

#buttonsContainer, #wordsButtonsContainer {
  display: flex;
  justify-content: flex-end;
}

/* Ocultar barras de desplazamiento verticales */
#ignoredListContainer::-webkit-scrollbar {
  display: none;
}

#ignoredWordsListContainer::-webkit-scrollbar {
  display: none;
}
